.backdrop {
    background-color: rgba(0, 0, 0, 0.517);
    position: fixed;
    inset: 0;
    z-index: 1;
}

.book-details {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 50vw;
    aspect-ratio: 1;
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

/* .watcher-details ul {
    margin-block: 0 30px;
}

.watcher-details li {
    font-size: 1.3em;
} */