.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.book-details h1 {
    color: var(--clr1);
    font-size: 2em;
    
}
.book-details h5 {
    color: var(--clr2);
}
.book-details img {
    max-width: 200px;
    display: block;
    /* margin: auto; */
}

.book-card{
    display: flex;
}

.price-red {
    color: red;
}

.price-green {
    color: green;
}

.price-normal {
    color: black; /* Default color */
}

.on-sale-sign {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}