.wrapper {
    --max-width: 980px;
    --min-margin: 1em;

    width: min(var(--max-width), 100% - 2 * var(--min-margin));
    margin-inline: auto;
}

.main-layout {
    --max-width: 980px;
    --min-margin: 1em;

    display: grid;
    grid-template-columns: 
        minmax(var(--min-margin), 1fr)
        minmax(auto, var(--max-width))
        minmax(var(--min-margin), 1fr);
}
.main-layout > * {
    grid-column: 2;
}
.main-layout .full {
    grid-column: 1/-1;
}

/* .container {
  padding: 1em;
  margin: auto;
} */

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}
